.container {
  border: 0.2rem solid black;
}

nav {
  border: 0.2rem solid black;
}

#sortable1,
#sortable2,
#sortable3,
#sortable4,
#sortable5 {
  border: 1px solid #106626;
  width: 142px;
  min-height: 20px;
  list-style-type: none;
  margin: 0;
  padding: 5px 0 0 0;
  float: left;
  margin-right: 10px;
  font-size: 0.5rem;
}
#sortable1 li,
#sortable2 li,
#sortable3 li,
#sortable4 li,
#sortable5 li {
  margin: 0 5px 5px 5px;
  padding: 5px;
  font-size: 1.2em;
  width: 120px;
  font-size: 0.5rem;
}

#testbr {
  border: 0.2rem solid red;
}

.quizsection {
  display: flex;
  flex-direction: row;
}
  
#advertisement {
  position: -webkit-sticky;
  position: sticky;
}
