.container {
  border: 0.2rem solid black;
}

nav {
  border: 0.2rem solid black;
}

/* #sortable1,
#sortable2,
#sortable3,
#sortable4,
#sortable5 {
  border: 1px solid #106626;
  width: 142px;
  min-height: 20px;
  list-style-type: none;
  margin: 0;
  padding: 5px 0 0 0;
  float: left;
  margin-right: 10px;
  font-size: 0.5rem;
}
#sortable1 li,
#sortable2 li,
#sortable3 li,
#sortable4 li,
#sortable5 li {
  margin: 0 5px 5px 5px;
  padding: 5px;
  font-size: 1.2em;
  width: 120px;
  font-size: 0.5rem;
} */

#testbr {
  border: 0.2rem solid red;
}

.quizsection {
  display: flex;
  flex-direction: row;
}

#advertisement {
  position: -webkit-sticky;
  position: sticky;
}

#destInfo {
  height: 35rem;
}
.connectedSortable:hover {
  cursor: grab;
}

.connectedSortable li {
  /* background-color: rgb(rgb(240,248,255, 0.6)); */
  background-color: rgb(240,248,255, 0.3);
  margin-top: none;
}

.quiz-section1 h1 {
  border-bottom: .2rem solid rgb(187, 50, 50);
  text-align: center;
  color:rgb(187, 50, 50);
  
}

#sortable1 p{
  background-color: rgba(68, 22, 22, 0.5);
  margin-bottom: none;
}

#sortable2 p{
  background-color: rgba(76, 175, 80, 0.3);
  margin-bottom: none;
}

#sortable3 p{
  background-color: 	rgb(230,230,250, .3);
  margin-bottom: none;
}

#sortable4 p{
  background-color: rgb(255, 174,66, 0.3);
  margin-bottom: none;
}

.sortable-containment {
  background-image: url(./quiz-background-image.avif);
  background-size: cover;
  
}

